{% extends 'base.html.twig' %}

{% block body %}
    
    <p class="text-right">
    	<small><a href="{{ path('home') }}">.. bring me back home</a></small>
    </p>

    <div class="content">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>

{% endblock %}
