{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Cowinner!</h1>
            </div>

            <div id="status">
                <p>
                    {{cows}}
                </p>
            </div>

            <div id="next">
                <h2>Some H2</h2>
                <p>
                    Another paragraph.
                </p>
            </div>

        </div>
    </div>
{% endblock %}
